﻿@model EventManagement.Models.EventDto

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-4">Title</label>
        <div class="col-xs-8">
            <p class="form-control-static">@Model.Title</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">Start Date</label>
        <div class="col-xs-8">
            <p class="form-control-static">@Model.StartDate</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">End Date</label>
        <div class="col-xs-8">
            <p class="form-control-static">@Model.EndDate</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">Duration</label>
        <div class="col-xs-8">
            <p class="form-control-static">@Model.Duration</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">Description</label>
        <div class="col-xs-8">
            <p class="form-control-static">@Model.Description</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">Type</label>
        <div class="col-xs-8">
            <p class="form-control-static">
            @if(Model.IsPrivate)
            {
                @: Private Event
            }
            else
            {
                @: Public Event 
            }
            </p>
        </div>
    </div>
</div>
