﻿@using Microsoft.AspNet.Identity
@model IEnumerable<EventManagement.Models.EventCommentDto>

<div>
    <h3>Comments</h3>

    <ul>
        @if(Model!=null)
        { 
        if (Model.Count()>0)
        {
            foreach (var cmt in Model)
            {
                <li>@cmt.Comment.CommentContent</li>
            }
        }
        else
        {
            <span>No Comments.</span>
        }
        }
    </ul>

    @if (Request.IsAuthenticated)
    {        
            <div class="form-inline">
                <input type="text" class="form-control" name="CommentContent" placeholder="Comment" id="comment_content_@ViewBag.EventId" />
                <button type="button" data-id="@ViewBag.EventId" class="btn btn-info add_comment_btn">Submit</button>
            </div>
    }
    else
    {
        <span style="color:red">Login or Registor to Comment.</span>
    }
</div>
