﻿@model IEnumerable<EventManagement.Models.EventDto>
@{
    ViewBag.Title = "AllEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllEvents</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Duration</th>
                <th>Description</th>
                <th>IsPrivate</th>
                <th>Author</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var evt in Model)
            {
                <tr>
                    <td>@evt.Title</td>
                    <td>@evt.StartDate</td>
                    <td>@evt.EndDate</td>
                    <td>@evt.Duration</td>
                    <td>@evt.Description</td>
                    <td>@evt.IsPrivate</td>
                    <td>@evt.AspNetUser.UserName</td>
                    <td>
                        <button type="button" data-id="@evt.Id" class="btn btn-info btn-sm" onclick="window.location.href = '/Event/EditEvent/@evt.Id'"><i class="glyphicon glyphicon-edit"></i></button>
                        <button type="button" data-id="@evt.Id" class="btn btn-danger btn-sm delete_event_btn"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
<script>
    $(document).ready(function () {

        //--- Delete Event ---//
        $(".delete_event_btn").click(function () {

            var deletedEvent = $(this);
            var confirmed = confirm("Are you sure! You want to delete this event?");

            if (confirmed) {

                var id = $(this).data("id");

                $.ajax({
                    url: "/Event/DeleteEvent",
                    method: "POST",
                    data: { id: id },
                    success: function (response) {
                        if (response == "true") {
                            alert("Success! Event Deleted.");
                            $(deletedEvent).parent().parent().remove();
                        } else {
                            alert("Error ! Try again.");
                        }

                    }
                });
            }
        });
    })
    </script>
}