﻿@model IEnumerable<EventManagement.Models.EventDto>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int count = Model.Count();
}


<style>
    .panel-success > .panel-heading {
        background-color: #9cf88b;
    }

    .event_heading {
        font-size: 20px;
        font-weight: 500;
        color: #0094ff;
    }

    .event_heading, .event_start_date, .event_details_btn_div,event_detail_div {
        padding-left: 10px;
        padding-bottom: 5px;
    }

    .glyphicon {
        font-size: 50px;
    }
    .event_detail_div,.event_comment_div{
        display:none;
        border:4px inset grey;
        border-radius:5px;
        padding:10px;
    }
</style>

<br />
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        @if (Model.Count() > 0)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    Upcoming Events
                </div>
                <div class="panel-body">



                    @foreach (var evt in Model)
                    {
                        if (evt.EndDate >= System.DateTime.Now)
                        {

                            <div class="row">
                                <div class="col-sm-1">
                                    <a href="#"><i class="glyphicon glyphicon-flag"></i></a>
                                </div>
                                <div class="col-sm-8">
                                    <div class="event_heading">@count. @evt.Title</div>
                                    <div class="event_start_date">From - @evt.StartDate.ToString("dd MMM,yyyy")</div>
                                    <div class="event_details_btn_div">
                                        <button type="button" data-id="@evt.Id" class="btn btn-warning btn-sm event_details_show_btn">View Details</button>
                                        <button type="button" data-id="@evt.Id" class="btn btn-danger btn-sm event_details_hide_btn" style="display:none">Hide Details</button>
                                        <button type="button" data-id="@evt.Id" class="btn btn-primary btn-sm show_comments_btn">Show Comments</button>
                                        <button type="button" data-id="@evt.Id" class="btn btn-danger btn-sm hide_comments_btn" style="display:none">Hide Comments</button>
                                       </div>
                                    <div id="detail_div_@evt.Id" class="event_detail_div">

                                    </div>
                                    <div id="event_comment_div_@evt.Id" class="event_comment_div">
                                    </div>
                                    <br />
                                    <hr />
                                </div>
                            </div>

                            count--;
                        }

                    }
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Completed Events
                </div>
                <div class="panel-body">
                    @foreach (var evt in Model)
                    {
                        if (evt.EndDate < System.DateTime.Now)
                        {
                            <div class="row">
                                <div class="col-sm-1">
                                    <a href="#"><i class="glyphicon glyphicon-flag"></i></a>
                                </div>
                                <div class="col-sm-8">
                                    <div class="event_heading">@count. @evt.Title</div>
                                    <div class="event_start_date">From - @evt.StartDate.ToString("dd MMM,yyyy")</div>
                                    <div class="event_details_btn_div">
                                        <button type="button" data-id="@evt.Id" class="btn btn-warning btn-sm event_details_show_btn">View Details</button>
                                        <button type="button" data-id="@evt.Id" class="btn btn-danger btn-sm event_details_hide_btn" style="display:none">Hide Details</button>
                                        <button type="button" data-id="@evt.Id" class="btn btn-primary btn-sm show_comments_btn">Show Comments</button>
                                        <button type="button" data-id="@evt.Id" class="btn btn-danger btn-sm hide_comments_btn" style="display:none">Hide Comments</button>
                                    </div>
                                    <div id="detail_div_@evt.Id" class="event_detail_div">

                                    </div>
                                    <div id="event_comment_div_@evt.Id" class="event_comment_div">
                                    </div>
                                    <br />
                                    <hr />
                                </div>
                            </div>

                            count--;
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Upcoming Events
                </div>
                <div class="panel-body">
                    No Events
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    Completed Events
                </div>
                <div class="panel-body">
                    No Events
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            //--- Show Event Details ---//
            $(".event_details_show_btn").click(function () {
                var id = $(this).data("id");
                $(this).next().show();
                $(this).hide();

                $("#detail_div_" + id).html("");

                $.ajax({
                    url: "/Event/EventDetailsById",
                    method: "POST",
                    data: { id: id },
                    success: function (response) {
                        console.log(response);
                        $("#detail_div_" + id).append(response).fadeIn();
                    }
                });
            });

            //--- Hide Event Details ---//
            $(".event_details_hide_btn").click(function () {
                var id = $(this).data("id");
                $(this).prev().show();
                $(this).hide();
                $("#detail_div_" + id).fadeOut();
            });

            //--- Show Comments ---//
            $(".show_comments_btn").click(function () {
                var id = $(this).data("id");
                $(this).next().show();
                $(this).hide();

                $("#event_comment_div_" + id).html("");

                $.ajax({
                    url: "/Event/EventComments",
                    method: "POST",
                    data: { id: id },
                    success: function (response) {
                        $("#event_comment_div_" + id).append(response).fadeIn();
                    }
                });
            });

            //--- Hide Comments ---//
            $(".hide_comments_btn").click(function () {
                var id = $(this).data("id");
                $(this).prev().show();
                $(this).hide();
                $("#event_comment_div_" + id).fadeOut();
            });

            //--- Add Comment ---//
            $("body").on("click", ".add_comment_btn", function () {
                var id = $(this).data("id");
                var cmtContent = $("#comment_content_"+id).val();
                $.ajax({
                    url: "/Event/AddComment",
                    method: "POST",
                    data: { CommentContent: cmtContent, eventId: id },
                    success: function (response) {
                        if (response == "true")
                            {
                        alert("Comment Added Successfully");
                        $("#event_comment_div_" + id).html("");

                        $.ajax({
                            url: "/Event/EventComments",
                            method: "POST",
                            data: { id: id },
                            success: function (response) {
                                $("#event_comment_div_" + id).append(response).fadeIn();
                            }
                        });
                        }
                        else {
                            alert("Error! Try again Later.");
                        }
                    }
                });
            });


        });
    </script>
}